<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Variantenwechsel im Warenkorb</label>
    <label lang="en">Switch variants in basket</label>

    <version>1.0.0</version>
    <copyright>Friends of Shopware</copyright>
    <license>MIT</license>
    <link>https://friendsofshopware.github.io/</link>
    <author>Friends of Shopware</author>
    <compatibility minVersion="5.4.0" />

    <changelog version="1.0.0">
        <changes lang="de">Initial Release</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>

    <description>
        <![CDATA[
            Makes it possible to change the selected variant in the shopping cart afterwards.
        ]]>
    </description>
    <description lang="de">
        <![CDATA[
            Dieses Plugin ermöglicht es im Warenkorb die ausgewählte Variante nachträglich zu ändern
        ]]>
    </description>
</plugin>